@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
body{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.nav{
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
	width: 100%;
  position: fixed;
  top: 0px;
  grid-row: 1 / 1;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #fff;
}

.nav ul{
	list-style-type: none;
    justify-self: center;
    grid-gap: 80px;
}

#top-menu{
  justify-self: center;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  margin: 0;
  padding-left: 0;
}
.links{
	color: #333;
	font-size: 26px;
	font-weight: normal;
}

.nav ul li a{
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 0.1rem 1rem 0.1rem 1rem;
	font-weight: bold;
	transition: 0.5s;
}
.nav ul li a:hover{
	color: #fff;
	background-color: #7D7C7A;
	border-radius: 30px;
	transition: 0.5s;
}

#text-block{
  justify-self: center;
  margin-top: 5rem;
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-row: 2/3;
  max-width: 760px;
}

.container{
	margin: 0;
	padding-left: 2rem;
	padding-right: 2rem;
}

.container h1 {
	font-weight: bold;
	padding-top: 5rem;
	transition: 0.15;
}

.container p {

	font-size: 26px;
}

.active{
	color: #fff;
	background: #7D7C7A;
	border-radius: 30px;
}

@media (max-width:575px) {
	.container p {
		font-size: 18px;
	}

	.links {
		font-size: 14px;
	}

	.nav ul {
		grid-gap: 5px;
	}
}
